body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto Mono', monospace;}
#nom_site{
    font-weight: bold;
    text-decoration: none;
}
#footer{
    padding: 32px;
    font-family: 'Roboto Mono', monospace;

}
#header{
    max-width:1500px;
}
#message{
    resize: vertical;
}

.fa-dice-five{
    font-size:100px;
      transition: transform .7s ease-in-out;
}
.fa-dice-five:hover{
  transform: rotate(360deg);
}
